@import './sass/landing';


// GENERAL STYLES
#root {
  background-color: rgb(216, 216, 216);
  min-height: 100vh;
}


//NAVBAR STYLES



//KVITTER FEED STYLES
.kvitter-container {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: 2rem auto;
}